.idea
/node_modules

dialogues-tree.json
dialogues-tree-english.json
dialogues-outgoing-links.json
mentioned-conversations.json
dialogue-issues-progress.json

# exclude all zip files from packed-mod folder
packed-mod/*.zip
.DS_Store